/* Container for entire form */
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

/* Shared input field styles */
.input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Shared button styles */
.register-button,
.addressSelect,
.idCheck {
    width: 35%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Specific styles for the address detail section */
.addressDetailSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83.3%;
    margin-left: 8.2%;
}

.userIdInsert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82.5%;
    margin: 0 69px 0px 69px;
}

.userIdInsert .input-field {
    flex: 1;
    margin-right: 10px;
}

.addressDetailSelect .input-field {
    width: 60%;
    margin: 0;
}

.addressSelect,
.idCheck {
    padding: 10px;
    margin: 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.idCheck {
    padding: 10px;
    margin: 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Specific styles for the radio button section */
.radio_button {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 40px 20px;
}

label {
    font-size: 18px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
}

[type='radio'],
span {
    vertical-align: middle;
}

[type='radio'] {
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.5s ease-in-out;
}

[type='radio']:checked {
    border: 0.4em solid tomato;
}

[type='radio']:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted tomato;
}

[type='radio']:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

[type='radio']:hover + span {
    cursor: pointer;
}

[type='radio']:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
}

[type='radio']:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

span {
    margin-top: 10px;
}
