.chat_room_container {
    display: flex;
    width: 100%;
    min-height: 80%;
    margin-top: 20px;
    box-sizing: border-box;
}

.side_menu {
    width: 150px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    border: 2px solid #007bff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
}

.side_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.side_menu li {
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    width: 100%;
}

.side_menu li:hover {
    background-color: #e0e0e0;
}

.main_content {
    margin-left: 160px; /* Adjust for the side menu width */
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.chat_room_list h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
}

.chat_room_list table {
    width: 100%; /* Make table width responsive */
    border-collapse: collapse;
}

.chat_room_list th,
.chat_room_list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.chat_room_list th {
    background-color: #007bff;
    color: white;
}

.chat_room_list tr:nth-child(even) {
    background-color: #f9f9f9;
}

.chat_room_list button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.chat_room_list button:hover {
    background-color: #0056b3;
}