/* Build */
.Build{
    width:100%;
    height:70%;
    display:flex;
}
.build{
    width:25%;
    height:80%;    
    margin-top:5%;        
    margin-right:20px;
    border: 1px solid #e0e0e0;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /       
}
/* 검색창 */
.build_search{
    width:100%;
    height: 8%;
    display:flex;    
    margin-left:22%;    
    text-align: center;
    position:relative;  
    margin-bottom: 20px;  
    
}
.build_input{
    width:50%;
    height:70%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: 'Helvetica Neue', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.search_btn_img{
    width:20px;
    height:20px;
    position: absolute;
    top: 10px;
    left: 140px;
    cursor: pointer;
}
.search_btn_img:hover{
    transform: scale(1.1);
}
/* 카테고리 버튼 */
.build_category_list{
    width:100%;
    height:5%;
    display:flex;
    justify-content: center;
    padding:0;
    gap:10%;    
    margin:0;
    
}
.build_category_list li {
    cursor: pointer;    
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}
.build_category_list li:hover {
    color: #007bff;
}

.build_category_list li.selected {
    color: #007bff;    
}
/* 달력 */
.build_calendar{    
    width:100%;
    height:5%;
    text-align: center;    
    padding-top:10%;
    margin-bottom:20px;
}
.strDay:hover::placeholder,
.endDay:hover::placeholder {
    font-size : 1.1em;
}
.react-datepicker-wrapper{
    width:55%;
}
.react-datepicker__input-container{
    width:80%;      
}
.react-datepicker__input-container > input{
    width:80%;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    font-weight: bold;        
}

/* 검색된 데이터 출력 */
.data_list {
    width: 100%;
    height: 70%;
    display: flex;    
    justify-content: center;
    align-items: center;    
    overflow-y: auto;
}
.data_list_wrapper{
    width:100%;
    height:100%;
}

/* 출력된 데이터 목록 */
.ress{
    margin-top:20%;
}
.places{
    margin-top:20%;
}
.build_selected_box{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    gap: 10px;
}
.selected_item{
    width:200px;
    height:130px;
    text-align: center; 
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
}
.selected_places{
    overflow-y: scroll;
}
.selected_hotel{
    overflow-y:scroll;
}
.selected_res{
    overflow-y:scroll;
}
.place_img > img, .hotel_img > img, .res_img > img{
    border-radius:10px;
}

.selected_place_img img, .selected_res_img img, .selected_hotel_img img {
    width: 120px;
    height: 80px;
    border-radius: 10px;
}
.data_list::-webkit-scrollbar, 
.selected_places::-webkit-scrollbar, 
.selected_res::-webkit-scrollbar, 
.selected_hotel::-webkit-scrollbar {
    display: none;
}

.tour_btn{
    width:80%;
    height: 3%;
    display:flex;
    justify-content: space-evenly;
    cursor:pointer;
    font-weight: bold;
}
.saveTour_prev_btn:hover{
    transform: scale(1.1);
}
.saveTour_next_btn:hover{
    transform: scale(1.1);
}
/* 지도 */
.build_map{
    width:50%;
    height:80%;    
    margin-top:5%;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.google_map{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    width:50%;
    height:80%;
    gap:1px;   
}
.goolge_map_a{
    width:100%;
    height: 100%;
    border-bottom:1px solid black;
    
}
.google_map_b{
    width:100%;
    height: 100%;
}
.google_default_box{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tour_save_btn{
    padding-top:3%;
    width:5%;    
}
.tour_save_span{
    display: block;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
}
.tour_save_span:hover{
    transform: scale(1.3);
}