<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.daeng.mapper.ChartMapper">	
	<select id="getChart1" resultType="java.util.Map">
		WITH ThemeUsage AS (
		    SELECT 
		        theme,
		        SUM(value) AS total_usage
		    FROM 
		        (
		            SELECT 
		                p.pf_rest,
		                p.pf_sport,
		                p.pf_walk,
		                p.pf_cafe,
		                p.pf_spot
		            FROM 
		                OrderTour ot
		            JOIN 
		                Tour t ON ot.t_no = t.t_no
		            JOIN 
		                Preference p ON t.pf_no = p.pf_no
		        )
		    UNPIVOT (
		        value FOR theme IN (pf_rest AS '힐링', pf_sport AS '스포츠', pf_walk AS '산책', pf_cafe AS '카페', pf_spot AS '장소')
		    )
		    GROUP BY theme
		)
		SELECT 
		    theme,
		    total_usage,
		    ROUND((total_usage / SUM(total_usage) OVER ()) * 100, 2) AS usage_percentage
		FROM 
		    ThemeUsage
		ORDER BY usage_percentage DESC
	</select>
	
	<select id="getChart2" resultType="java.util.Map">
		select o.pd_no as pd_no, p.pd_name as pd_name, sum(o.oi_price) as sum
	    from orderitem o inner join product p
	    on o.pd_no = p.pd_no
	    group by o.pd_no, p.pd_name
	    order by o.pd_no
	</select>
	
	<select id="getChart3" resultType="java.util.Map">
		SELECT TO_CHAR(PAYT_DATE, 'YYYY-MM') AS PAYT_DATE
    		 , NVL(SUM(PAYT_TOTAL), 0) AS TOTAL_SALES
	    FROM PAYMENTTOUR
	    GROUP BY TO_CHAR(PAYT_DATE, 'YYYY-MM')
	    ORDER BY PAYT_DATE
	</select>
	
</mapper>