.Review1 {
  min-height: 1100px;
}

.Review table {
  width: 100%;  
}

.Review h3 {
  text-align: center;
  margin-top: 50px;
}

.Review select {
  width: 100px;  
  margin-left: 850px;
}

.ReviewButton {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding: 10px; 
  margin-top: 20px; 
  margin-bottom: 50px;
}

.ReviewSearch {
  display: flex; 
  align-items: center; 
  padding: 10px; 
  margin-left: 400px;
}

.ReviewSearch input[type="text"] {
  flex: 1; 
  padding: 8px; 
  border: none;
  outline: none;
  width: 100%;
}

.ReviewSearch button {
  padding: 8px 16px;
  margin-left: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}

.ReviewButton button {
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-right: 100px;
}

.ReviewButton button.primary {
  background-color: #4EC0E9; 
  color: white;
}