.Review {
  min-height: 1100px;
}

.Review table {
  width: 100%;  
}

.Review h3 {
  text-align: center;
  margin-top: 50px;
}

.ReviewSearch {
  display: flex; 
  align-items: center; 
  padding: 10px; 
  margin-left: 25%;
}

.ReviewSearch input[type="text"] {
  padding: 8px; 
  /*border: none;*/
  outline: none;
  width: 300px;  
}

.ReviewButton button {
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin: 10px;
}

.ReviewButton button.primary {
  background-color: #4EC0E9; 
  color: white;
}