.ProductList {
  width: 100%;
  margin: 50px auto;
}

.ProductList h3 {
  text-align: center;
  margin-bottom: 50px;
}

.ProductListTable {
  width: 70%;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  margin-left: 25%;
}

.ProductListTable th {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  width: 10%;
}

.ProductListTable th:nth-child(2) {
  width: 20%;
}

.ProductListTable td:nth-child(3) {
  width: 40%;
  text-align: left;
}

.ProductListTable td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  height: 80px;
}

.ProductListTable th {
  background-color: #f2f2f2;
}

.productListButton {
  margin-bottom: 50px;
  text-align: right;
  margin-right: 100px;
  margin-top: 30px;
}


#modifyButton {
  background-color: #ffce52;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

#deleteButton {
  background-color: #ed5464;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

#saveButton {
  background-color: #4ec0e9;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

#cancelButton {
  background-color: #cdd2da;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

#normalButton {
  background-color: white;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.mg_mangeMenu {
  width: 200px; 
  position: fixed; 
  top: 50%; 
  transform: translateY(-50%); 
  background-color: #f9f9f9;
  border: 2px solid #007bff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  margin-left: 10px;
}

.mg_box {
  display: flex;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.mg_mangeMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.mg_mangeMenu li {
  padding: 15px 20px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.mg_mangeMenu li:hover {
  background-color: #e0e0e0;
}

.ProductList select {
  margin-left: 40%;
  width: 200px;
}