.faq_container {
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
    text-align: left;
    min-height: 1100px;
    padding: 20px;
    box-sizing: border-box;
}

.faq_box {
    padding: 20px;
}

.ChatLogoImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
}

.faq_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #4e90e9;
    padding-bottom: 10px;
}

.faq_write_button {
    background-color: #4e90e9;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.faq_write_button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.faq_posts_per_page {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 80px;
    margin-right: 10px;
}

.category-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-filter button {
    background-color: #4e90e9;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.category-filter button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.faq_posts_table {
    width: 100%;
    border-collapse: collapse;
}

.faq_posts_table th,
.faq_posts_table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.faq_posts_table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.faq_posts_table td:hover {
    background-color: #f9f9f9;
}

.faq_delete_button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
}

.faq_delete_button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.faq_footer {
    margin-top: 20px;
    text-align: center;
}

.faq_pagination {
    display: inline-block;
}

.faq_pagination span {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #4e90e9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.faq_pagination span:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}