/* Build */
.Build{
    width:100%;
    height:60%;
    display:flex;
}
.build{
    width:25%;
    height:80%;    
    margin-top:5%;    
    border: 1px solid black;
    margin-right:20px;
    border-radius: 40px;    
}
/* 지도 */
.build_map{
    width:50%;
    height:80%;    
    margin-top:5%;
    border:1px solid black;
    border-radius: 40px;
}
.google_map{
    width:50%;
    height:80%;
    overflow:hidden;
}
/* 검색창 */
.build_search{
    width:100%;
    height: 8%;
    display:flex;    
    margin-left:22%;    
    text-align: center;    
}
.build_search_btn{
    width:15%;
    height:70%;
}
.build_input{
    width:50%;
    height:70%;
}
/* 카테고리 버튼 */
.build_category_list{
    width:100%;
    height:5%;
    display:flex;
    justify-content: center;
    padding:0;
    gap:10%;    
    margin:0;
}
.build_category_list li {
    cursor: pointer;    
}
.build_category_list li:hover {
    color: #007bff;
}

.build_category_list li.selected {
    color: #007bff;    
}
/* 달력 */
.build_calendar{    
    width:100%;
    height:5%;
    padding-top:10%;
    text-align: center;    
}
.strDay:hover::placeholder,
.endDay:hover::placeholder {
    font-size : 1.1em;
}
.react-datepicker-wrapper{
    width:40%;
}
.react-datepicker__input-container{
    width:80%;      
}
.react-datepicker__input-container > input{
    width:80%;
    border:none;
    font-weight: bold;    
    font-family: 'HSGaeulSenggak20', sans-serif;
}
/* 검색된 데이터 출력 */
.data_list {
    width: 100%;
    height: 70%;
    display: flex;    
    justify-content: center;
    align-items: center;    
    overflow-y:scroll;
}
/* 출력된 데이터 목록 */
.ress{
    margin-top:20%;
}
.places{
    margin-top:20%;
}
.build_selected_box{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
}
.selected_item{
    width:80%;
    max-height:33%;
    text-align: center;    
}
.selected_places{
    overflow-y: scroll;
}
.selected_hotel{
    overflow-y:scroll;
}
.selected_place_img img {
    width: 150px;
    height: 100px;
}
.selected_res{
    overflow-y:scroll;
}
.selected_res_img img{
    width: 150px;
    height: 100px;
}
.selected_hotel_img img{
    width: 150px;
    height: 100px;
}
.data_list::-webkit-scrollbar, .selected_places::-webkit-scrollbar, .selected_res::-webkit-scrollbar, .selected_hotel::-webkit-scrollbar {
    display: none;
}
.tour_btn{
    width:80%;
    height: 3%;
    display:flex;
    justify-content: space-evenly;
    cursor:pointer;
}
